/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

.vscode/
.DS_Store
/.clj-kondo/
/.lsp/
/debug/
/target/
/store/


# Added by cargo
#
# already existing elements were commented out

#/target
